.DS_Store/

venv/
venv2/
venv3/

*.pyc

__pycache__/

*.fa
*.fai
*.ref
*.fq
*.Fq
*.swp
*.json
*.vcf
*.bed

*.o
*.ct
*.out
*.log
.nfs*

cgc/
lib/
coin/
data/
misc/
output/
binaries/
Jellyfish/
programming/

scripts/submit.sh
scripts/syrupy.py
scripts/syrupy-peak.py

.vscode/
