.DS_Store/

venv/
venv2/
venv3/

*.pyc

__pycache__/

*.fa
*.fai
*.ref
*.fq
*.Fq
*.swp

*.ct
*.out
*.log
.nfs*
output/
simulation/
programming/
Jellyfish/
data/
training/
learning/
misc/
coin/
cgc/
test/
.vscode/
src/cpp/*.o
src/cpp/*.out
