**/.DS_Store

venv/
venv2/
venv3/

.cgcrc

*.pyc

__pycache__/

*.fa
*.fai
*.ref
*.fq
*.Fq
*.swp
*.json

*.o
*.so
*.ct
*.out
*.log
.nfs*

test/
cgc/
lib/
coin/
data/
misc/
/output/
binaries/
Jellyfish/
programming/
docker/src/
docker/kmers/
src/python
src/cpp/scripts/
experiments/output/
scripts/

.vscode/

!/experiments/kmers/gc_kmers.json
!/experiments/kmers/reference_kmers.json
!/experimenmts/variants/*.bed
!/experimenmts/variants/*.vcf
